@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ECF0F1;
  color: #333;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.logo {
  max-width: 500px;
}

form {
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.input {
  padding: 10px;
  margin-bottom: 20px;
  width: calc(100% - 22px);
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

button {
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px;
  background-color: #E74C3C;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #fa7667;
}

.result {
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 20px;
  width: calc(100% - 22px);
  border: 1px solid #ccc;
  border-radius: 4px;
}

.result-title {
  margin-top: 20px;
  font-weight: bold;
}

.error {
  color: red;
}
